
<div class="container">

<section>
  <div class="page-header">
    <h1>Calendar</h1>
  </div>
  <div class="well">
      <div class="row">
          <div class="col-sm-4">
              <div class="btn-group calTools">
                <!-- vm.authentication.user is true if the user is properly logged in.-->
                <button type="button" class="btn btn-primary" ng-click="vm.addEvent()" ng-show="vm.authentication.user">
                  Add Event
                </button>
                <div ng-hide="vm.authentication.user">
                  Create an account and log in to add or delete events
                </div>
              </div>
<p>
              <ul class="list-unstyled">
                  <li ng-repeat="e in vm.calEvents | filter:vm.selectedDateEvents">
                      <div class="alert alert-info">
                          <b> <input ng-model="e.title" class="eventtext" ng-change="vm.update(e)"></b>

                          <a class="close" ng-click="vm.remove(e.customIndex)" ng-show="vm.authentication.user"><i class="glyphicon glyphicon-remove"></i></a>

                          <br>
                          {{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}
                      </div>
                  </li>
              </ul>
          </div>
          <div class="col-sm-8">
              <div ui-calendar="vm.uiConfig.calendar" class="calendar" ng-model="vm.eventSources"></div>
          </div>
      </div>
  </div>

<!--
  <div ui-calendar="vm.uiConfig.calendar" class="span8 calendar" ng-model="vm.eventSources"></div>

-->
</section>
</div>
